# dependencies
node_modules/

# build outputs
dist/
build/

# env files
.env
.env.*

# logs
*.log

# OS files
.DS_Store

# TypeScript cache
*.tsbuildinfo

# frontend build
client/dist/
client/node_modules/

# backend build
server/dist/
server/node_modules/